global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']
  
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8081']
  
  - job_name: 'spring-boot-app'
    static_configs:
      - targets: ['your-app:8080']
    metrics_path: '/actuator/prometheus'